[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Picom Manager
Name[de]=Picom Manager
Name[el]=Διαχειριστής Picom
Name[es]=Administrador de Picom
Name[fr]=Gestionnaire Picom
Name[id]=Manajer Picom
Name[ja]=Picom マネージャー
Name[pl]=Picom Menadżer
Name[pt_BR]=Gerenciador do Picom
Name[pt_PT]=Gestor do Picom
Name[ru]=Менеджер Picom
Name[sv]=Picom-hanteraren
GenericName=Picom Manager
Comment=Launch, stop or edit Picom Composite Manager
Comment[de]=Picom Composite Manager starten, beenden oder editieren
Comment[el]=Εκκίνηση, τερματισμός και επεξεργασία του Σύνθετου Διαχειριστή Picom
Comment[es]=Lanza, detiene o edita el administrador de Picom Composite
Comment[fr]=Lance, arrête ou édite le gestionnaire Picom Composite
Comment[id]=Luncurkan, hentikan atau edit Composite Manager Picom
Comment[it]=Lancia, ferma o modifica Picom Composite Manager
Comment[ja]=Picom コンポジットマネージャーの起動・停止・編集
Comment[pl]=Uruchom, zatrzymaj lub edytuj zarządcę kompozycji Picom
Comment[pt_BR]=Inicialize, pare ou edite o gerenciador de Composite Picom
Comment[pt_PT]=Iniciar, parar ou editar Gestor de Composísão Picom
Comment[ru]=Запуск, завершение или редактирование композитного менеджера Picom
Comment[sv]=Starta, stoppa eller redigera Picom Komposithanterare
Exec=/usr/bin/sparky-picom
Icon=preferences-desktop-theme
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility;
